In [2]:
import pymysql

In [3]:
conn = pymysql.connect(
    host="host.docker.internal",
    port=3306,
    user="root",
    passwd="root",
    charset="utf8mb4"
)

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute("select * from testdb.staff")

9

In [6]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('003',
  'Allen',
  '001',
  22,
  'M',
  50000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('004',
  'Tom',
  '002',
  47,
  'M',
  47000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('005',
  'Jack',
  '003',
  36,
  'M',
  52000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('006',
  'Abby',
  '002',
  24,
  'F',
  45000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('007',
  'Trump',
  '001',
  80,
  'M',
  80000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('008',
  'Marry',
  '003',
  29,
  'F',
  87000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('009',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)))